@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'montSerrat';
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-top: 10px;
}

.container {
    width: 87.5vw;
    display: flex;
}

header .container {
    height: 90px;
    border: 3px solid #DAA520;
    border-radius: 15px;
    box-shadow: 0px 2px 2px #daa52041;
    justify-content: space-between;
    align-items: center;
}

.logo_header {
    margin: 5px 0px 5px 40px;
}

.logo_header img {
    height: 70px;
    cursor: pointer;
}

.botoes_header {
    width: 400px;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
}

.botoes_header button {
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.botoes_header button:hover {
    transform: scale(1.05);
    color: lightgrey;
}

main {
    display: flex;
    justify-content: center;
    margin: 80px 0px 80px;
}

main .container {
    justify-content: space-around;
    align-items: center;
}

main img {
    width: 350px;
}

.quadro_login {
    width: 450px;
    height: 330px;
    border: 3px solid #DAA520;
    border-radius: 30px;
}

.campos_cima {
    width: 450px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    font-size: 16px;
    color: white;
    margin: 25px 275px 6px 0px;
    font-weight: thin;
}

label .icon {
    width: 17px;
    margin-left: 5px;
}

.campos_cima input {
    width: 350px;
    height: 45px;
    border: 1px solid #DAA520;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    box-shadow: 2px 2px 2px #daa52041;
}

.campos_baixo {
    width: 450px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.campos_baixo button {
    width: 175px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: url(../assets/Imagens/dourado.jpg) bottom/cover;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
}

.campos_baixo button:hover {
    transform: scale(1.02);
    opacity: .9;
}

.campos_baixo p {
    color: white;
    font-size: 14px;
    font-weight: thin;
    padding-bottom: 10px;
}

.campos_baixo p u {
    cursor: pointer;
    transition: 0.2s;
}

.campos_baixo p u:hover {
    color: rgb(219, 219, 219);
}

.campos_baixo a {
    color: white;
}